@import "variables.css";
@import "fonts.css";
:root {
    font-size: 18px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

@layer reset {
/* 1. Use a more-intuitive box-sizing model */
    *, *::before, *::after {
        box-sizing: border-box;
    }

    /* 2. Remove default margin */
    * {
        margin: 0;
    }

    /* 3. Enable keyword animations */
    @media (prefers-reduced-motion: no-preference) {
        html {
            interpolate-size: allow-keywords;
        }
    }

    body {
        max-width: 1178px;
        margin: 20px;
        /* 4. Add accessible line-height */
        line-height: 1.5;
        /* 5. Improve text rendering */
        -webkit-font-smoothing: antialiased;
        color: var(--color-text);
        background-color: var(--color-background);

        font-size: 18px;
        font-family: var(--font-primary);
        font-optical-sizing: auto;
        font-weight: var(--font-weight-normal);
        font-style: normal;

        @media screen and (min-width: 1177px) {
            margin: 0 auto;
        }
    }


    /* 6. Improve media defaults */
    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }

    /* 7. Inherit fonts for form controls */
    input, button, textarea, select {
        font: inherit;
    }

    /* 8. Avoid text overflows */
    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }

    /* 9. Improve line wrapping */
    p {
        text-wrap: pretty;
    }
    h1, h2, h3, h4, h5, h6 {
        text-wrap: balance;

    }
    a {
        text-decoration: none;
        color: inherit;
    }

    /*
      10. Create a root stacking context
    */
    #root, #__next {
        isolation: isolate;
    }
}

