h1 {
    font-size: 42px;
    font-weight: bold;
    line-height: 55px;
}
h2 {
    font-size: 30px;
}

@media screen and (min-width: 640px) {
    h1 {
        font-size: 62px;
        line-height: 75px;
    }
    h2 {
        font-size: 36px;
    }
}
@media screen and (min-width: 1024px) {
    h1 {
        font-size: 80px;
        line-height: 90px;
    }
    h2 {
        font-size: 36px;
    }
    p {
        font-size: 20px;
    }
}

@media screen and (min-width: 1178px) {
    h1 {
        font-size: 96px;
        line-height: 110px;
    }
    p {
        font-size: 24px;
    }
}