:root {
    --color-primary: #E3A159;
    --color-secondary: #12293C;
    --color-background: #FDFDFD;
    --color-text: #1E1E1E;
    --font-primary: 'Lexend', sans-serif;
    --font-weight-normal: 500;
}