@import "tailwindcss";

@theme {
    --color-primary: #E3A159;
    --color-secondary: #12293C;
    --color-background: #FDFDFD;
    --color-text: #1E1E1E;
    --font-primary: 'Lexend', sans-serif;
    --font-weight-normal: 500;
    --body-max-width: 1178px;
    --hero-image-box-shadow: 20px 15px 0 0 #12293c;
    --hero-image-box-shadow-lg: 30px 25px 0 0 #12293c;
    --animate-move-car: move-car 10s linear infinite;
    @keyframes move-car {
        0% {
            left: 0;
        }
        100% {
            left: 85%;
        }
    }

}

@layer base {
    body {
        max-width: var(--body-max-width);
        background-color: var(--color-background);
        margin: 20px;
        @media screen and (min-width: 1178px) {
            margin: 0 auto;
        }
    }

    h1 {
        font-size: 42px;
        font-weight: bold;
        line-height: 55px;
    }
    h2 {
        font-size: 30px;
    }

    @media screen and (min-width: 640px) {
        h1 {
            font-size: 62px;
            line-height: 75px;
        }
        h2 {
            font-size: 36px;
        }
    }
    @media screen and (min-width: 1024px) {
        h1 {
            font-size: 80px;
            line-height: 90px;
        }
        h2 {
            font-size: 36px;
        }
        p {
            font-size: 20px;
        }
    }

    @media screen and (min-width: 1178px) {
        h1 {
            font-size: 96px;
            line-height: 110px;
        }
        p {
            font-size: 24px;
        }
    }

}