:root {
    --color-primary: #E3A159;
    --color-secondary: #12293C;
    --color-background: #FDFDFD;
    --color-text: #1E1E1E;
    font-size: 18px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    max-width: 1280px;
    margin: 0 auto;
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    color: var(--color-text);
    background-color: var(--color-background);
    @media screen and (min-width: 1177px) {
        margin: 0 auto;
    }
}


/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;

}
a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 42px;
    font-weight: bold;
    line-height: 55px;
    @media screen and (min-width: 1177px) {
        font-size: 96px;
        font-weight: bold;
        line-height: 110px;
    }
}

/*
  10. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}