---
import { Image } from 'astro:assets';
import { readFragment } from '~/lib/datocms/graphql';
import { HeaderFragment } from './fragments.ts';

const { data } = Astro.props;
const unmaskedBlock = readFragment(HeaderFragment, data);
---

<header>
  <div class="place-content-center pb-2.5 sm:pb-0 sm:h-[120px]">
    <Image
      src={unmaskedBlock.logo.url}
      alt="Pure Drive Logo"
      height="40"
      width="120"
      class="w-[120px] sm:w-[173px]"
      loading="eager"
    />
  </div>
</header>
