---
import { TagFragment } from '~/lib/datocms/commonFragments';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { graphql } from '~/lib/datocms/graphql';
import { DraftModeToggler } from '~/components/DraftModeToggler';
import { Header } from '~/components/Header';
import { HeaderFragment } from '~/components/Header/fragments';
import { Seo, type TitleMetaLinkTag } from '@datocms/astro';
import { isDraftModeEnabled } from '~/lib/draftMode';

type Props = {
  additionalSeo?: TitleMetaLinkTag[];
};

const { additionalSeo = [] } = Astro.props;

const query = graphql(
  /* GraphQL */ `
    query RootQuery {
      _site {
        faviconMetaTags {
          ...TagFragment
        }
      }
      header {
        ...HeaderFragment
      }
    }
  `,
  [TagFragment, HeaderFragment],
);

const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
const result = await executeQuery(query, { includeDrafts: draftModeEnabled });
---

<!doctype html>
<html lang="is">
  <head>
    <title>{}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <Seo data={[...result._site.faviconMetaTags, ...additionalSeo]} />
  </head>
  <body>
    <Header data={result.header} />
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
